/*
    Pablo Pérez Saavedra
    UO288816
    gama cromatica 

    #5c0b12

    Pewter
    #b9b7bd

    Gray
    #868b8e

    Ivory
    #eeede7
*/

/*
    Estilos generales del proyecto MotoGP-Desktop
*/

/* 
Selector: body → aplica tipografía al proyecto entero
Specificity: (0, 0, 1)
 */
body {
    background-color: #eeede7; 
    color: #868b8e; 
    font-family: Arial, Helvetica, sans-serif;
}

/* 
 * Specificity: (0,0,1)
 *
 */
 header {
    background-color: #b9b7bd; /* Pewter */
    text-align: center;
    /* Herencia: No aplica herencia por defecto */
}


/* 
 * Specificity: (0,0,2)
 * 
 */
header a{
    color: #5c0b12;           
    text-decoration: none; 
    text-decoration-line: none;
    /* Herencia: No aplica herencia por defecto */
}


/* 
 * Specificity: (0,0,1) 
 * Color del texto del título principal <h1>
 */
 h1 {
    color: #5c0b12; 
    /* Herencia: Sobrescribe el color heredado del <body> */
}


/* 
 * Specificity: (0,0,1) 
 */
nav {
    color: #5c0b12; /* Scallop Seashell */
    background-color: #b9b7bd; /* Pewter */
    margin-top: 2rem;
    /* Herencia: El color se hereda por los <a> si no se sobreescribe */
}

/* 
 * Specificity: (0,0,2) 
 */
nav a{
    color: #4a0910;
}

/* 
 * Specificity: (0,1,2) 
 */
nav a.active {
    color: #4a0910;
}



/* 
 * Specificity: (0,1,2) 
 */
body > p:first-of-type {
    font-size: 0.75rem; /* Tamaño más pequeño */
}

/* 
 * Enlace visitado 
 * Specificity: (0,1,2)
 */
 header a:visited {
    color: #4a0910;
}

/* 
 * Enlace al pasar el ratón (hover)
 * Specificity: (0,1,2)
 */
header a:hover {
    color: #4a0910; 
    text-decoration-line: underline; /* Subraya solo al pasar el ratón */
}



